body {
    background-color: black;
    background-image: url(../img/fundo-em-movimento.gif); 
    color: rgb(248, 242, 242);
    font: normal 15pt arial;
}
h1 {
    background-color: rgb(141, 25, 177);
    border: 3px solid rgba(0, 255, 255, 0.8887);
    border-radius: 13px;
    margin: 0px 0px 23px;
    text-align: center;
    font-style: italic;
}
.js {
    height: 250px;
    width: 320px;
    margin-left: 37%;
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px; 
}
.bloco {
    background-color: rgba(57, 23, 207, 0.599);
    text-align: left;
    border: 3px solid rgba(0, 255, 255, 0.8887);
    border-radius: 5px;
    margin-left: 5px;
    height: 100%;
    width: 98%;
    padding-left: 5px;
}
.titulos {
    text-align: center;
    color: cyan;
}
.cursoemvideo-logo {
    height: 315px;
    width: 620px;
    margin-left: 18%;
}
.vidio {
    border: 2px solid red;
    border-radius: 30px;
}