body {
    background-color: black;
    background-image: url(../img/fundo-em-movimento.gif);
    color: rgb(255, 255, 255);
    font: normal 15pt arial;
}
h1 {
    background-color: rgb(141, 25, 177);
    border: 3px solid rgba(0, 255, 255, 0.8887);
    border-radius: 13px;
    margin: 0px 0px 23px;
    text-align: center;
    font-style: italic;
}
.css {
    height: 250px;
    width: 320px;
    margin-left: 37%;
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px; 
}
h3 {
    color: cyan;
    text-align: left;
    text-transform: uppercase;
}
.bloco {
    background-color: rgba(57, 23, 207, 0.599);
    text-align: left;
    border: 3px solid rgba(0, 255, 255, 0.8887);
    border-radius: 5px;
    margin-left: 5px;
    height: 100%;
    width: 98%;
    padding-left: 5px;
}
.titulos {
    text-align: center;
    color: cyan;
}
.box-exemplo1 {
    background-color: grey;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    margin-left: 300px;
    margin-right: 38%;
}
.box-exemplo2 {
    background-color: grey;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    margin-left: 300px;
    margin-right: 38%;
}
.box-exemplo3 {
    background-color: grey;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    margin-left: 300px;
    margin-right: 38%;
}
.box-exemplo4 {
    background-color: grey;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    margin-left: 300px;
    margin-right: 38%;
}
.imagens-exemplo {
    width: 600px;
    margin-left: 300px;
}
.cursoemvideo-logo {
    height: 315px;
    width: 620px;
    margin-left: 18%;
}
.vidio {
    border: 2px solid red;
    border-radius: 30px;
}